body {
    background-color: #B1A296;
    font-family: Arial, Helvetica, sans-serif;
}

.common {
    background-color: gray;
    border: 2px solid white;
    position: absolute;
}

#hp  {
    float: right;    
     margin: 0 0 0 15px;
    }

